<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">List</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/message']">Messages</a>
      </li>
    </ul>
    <form *ngIf="!loggedIn()" class="form-inline ml-auto" #loginForm="ngForm" (ngSubmit)="doLogin()">

      <input type="text" placeholder="Username" required name="username" class="form-control mr-sm-2" [(ngModel)]="model.username">
      <input type="password" placeholder="Password" required name="password" class="form-control mr-sm-2" [(ngModel)]="model.password">


      <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Sign in</button>
    </form>
    <ul *ngIf="loggedIn()" class="navbar-nav  pull-right">

      <li class="nav-item dropdown  " dropdown>

        <a (click)="false" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" dropdownToggle>
          Welcome {{authservice.decodedToken?.unique_name | titlecase}}
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/member/edit']">
            <i class="fa fa-user mr-sm-2"></i>Edit Profile</a>
          <li class="divider dropdown-divider"></li>
          <a class="dropdown-item" a-ng (click)="logout()">
            <i class="fa fa-sign-out mr-sm-2"></i>Logout</a>

        </div>
      </li>

    </ul>

  </div>
</nav>
